<mat-card class="tarjeta"> <!--creo la clase TARJETA para las tarjetas-->
    <mat-card-content class="imagen"><!--elemento: imagen-->
        <img src="https://material.angular.io/assets/img/examples/shiba2.jpg">
    </mat-card-content>
        <mat-card-content class="titulo.texto"><!--elementos: titulo y texto-->
        <h1></h1>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
            Earum quam, molestias beatae cumque eius dignissimos qui 
            nulla nostrum quia incidunt aliquid harum dolorem iusto. 
            Repellendus earum sint molestias alias voluptate!
          </p>
    </mat-card-content>
</mat-card>